<%= render 'shared/display_errors', resource: @question  %>
<%= form_with model: [:admin, @test, @question], local: true do |form| %>


<div>
  <%= form.label :body %>
  <%= form.text_field :body, value: @question.body %>
</div>

<div>
  <%= form.label :test_id %>
  <%= form.collection_select :test_id, Test.all, :id, :title, prompt: 'Choose category' %>
</div>

<p><%= form.submit %></p>
<% end %>
<p><%= link_to 'Back', admin_test_path(@question.test) %></p>
