<%= render 'shared/display_errors', resource: @test  %>
<%= form_with model: @test, local: true do |form| %>
<%= form.hidden_field :author_id, :value => "1" %>

<div>
  <%= form.label :title %><br>
  <%= form.text_field :title, value: @test.title %>
</div>

<div>
  <%= form.label :level %><br>
  <%= form.number_field :level, value: @test.level %>
</div>

<div>
  <%= form.label :category_id %><br>
  <%= form.collection_select :category_id, Category.all, :id, :title, prompt: 'Choose category' %>
</div>

<p><%= form.submit %></p>
<% end %>
<p><%= link_to 'Back', tests_path %></p>
