<tr>
  <td><%= link_to test.title, test_path(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.size %></td>
  <td><%= link_to 'Change', edit_test_path(test) %></td>
  <td><%= link_to 'Delete', test_path(test), method: :delete, data: {confirm: "Delete test #{test.title}?"} %></td>
</tr>
